# Connection with local DataBase

In [59]:
from sqlalchemy import create_engine
import urllib
import pandas as pd

# Your existing pyodbc connection details
server = r"MELKON\SQLEXPRESS"
database = "DataWarehouse"

# Construct ODBC connection string
odbc_str = f"DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;TrustServerCertificate=yes;"

# Encode for SQLAlchemy
connection_url = f"mssql+pyodbc:///?odbc_connect={urllib.parse.quote_plus(odbc_str)}"

# Create SQLAlchemy engine
engine = create_engine(connection_url)

**Script Overview:**

======================================================================================================================
This SQL script updates the `silver.crm_cst_info` table by adding an `is_future` column and inserting the latest 
cleaned customer records from `bronze.crm_cst_info`. It ensures data consistency by:  

- Selecting the most recent record per customer (`cst_id`) using `ROW_NUMBER()`.  
- Cleaning names and standardizing marital status and gender values.  
- Flagging future-dated records in the `is_future` column.  

This script is part of an ETL process, ensuring accurate and up-to-date customer data for analytics and reporting. ðŸš€

=======================================================================================================================

In [58]:
# SQL Query
query = """
SELECT
    cst_id,
    cst_key,
    TRIM(cst_firstname) AS cst_firstname,
    TRIM(cst_lastname) AS cst_lastname,
    CASE 
        WHEN UPPER(TRIM(cst_material_status)) = 'M' THEN 'Married'
        WHEN UPPER(TRIM(cst_material_status)) = 'S' THEN 'Single'
        ELSE 'n/a'
    END AS cst_material_status,
    CASE 
        WHEN UPPER(TRIM(cst_gender)) = 'M' THEN 'Male'
        WHEN UPPER(TRIM(cst_gender)) = 'F' THEN 'Female'
        ELSE 'n/a'
    END AS cst_gender,
    cst_create_date,
    CASE 
        WHEN cst_create_date IS NULL THEN 0
        WHEN cst_create_date > GETDATE() THEN 1
        ELSE 0
    END AS cst_is_future
FROM (
    SELECT
        *,
        ROW_NUMBER() OVER(PARTITION BY cst_id ORDER BY cst_create_date DESC) AS flag_last
    FROM bronze.crm_cst_info
    WHERE cst_id IS NOT NULL
) latest_record
WHERE flag_last = 1;
"""

# Execute query using SQLAlchemy engine
df_results = pd.read_sql(query, engine)

# Display DataFrame
df_results

,cst_id,cst_key,cst_firstname,cst_lastname,cst_material_status,cst_gender,cst_create_date,cst_is_future
0,11000,AW00011000,Jon,Yang,Married,Male,2025-10-06,1
1,11001,AW00011001,Eugene,Huang,Single,Male,2025-10-06,1
2,11002,AW00011002,Ruben,Torres,Married,Male,2025-10-06,1
3,11003,AW00011003,Christy,Zhu,Single,Female,2025-10-06,1
4,11004,AW00011004,Elizabeth,Johnson,Single,Female,2025-10-06,1
...,...,...,...,...,...,...,...,...
18479,29479,AW00029479,Tommy,Tang,Married,n/a,2026-01-25,1
18480,29480,AW00029480,Nina,Raji,Single,n/a,2026-01-25,1
18481,29481,AW00029481,Ivan,Suri,Single,n/a,2026-01-25,1
18482,29482,AW00029482,Clayton,Zhang,Married,n/a,2026-01-25,1
18483,29483,AW00029483,Marc,Navarro,Married,n/a,2026-01-27,1

In [60]:
df = df_results
print(df.head())

   cst_id     cst_key cst_firstname cst_lastname cst_material_status  \
0   11000  AW00011000           Jon         Yang             Married
1   11001  AW00011001        Eugene        Huang              Single
2   11002  AW00011002         Ruben       Torres             Married
3   11003  AW00011003       Christy          Zhu              Single
4   11004  AW00011004     Elizabeth      Johnson              Single

  cst_gender cst_create_date  cst_is_future
0       Male      2025-10-06              1
1       Male      2025-10-06              1
2       Male      2025-10-06              1
3     Female      2025-10-06              1
4     Female      2025-10-06              1

In [4]:
import pandas as pd
from sqlalchemy import create_engine
import urllib

# Database Connection
server = r"MELKON\SQLEXPRESS"
database = "DataWarehouse"

# Construct ODBC connection string
odbc_str = f"DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;TrustServerCertificate=yes;"
connection_url = f"mssql+pyodbc:///?odbc_connect={urllib.parse.quote_plus(odbc_str)}"

# Create SQLAlchemy engine
engine = create_engine(connection_url)

# Step 1: Get all tables in 'bronze' schema
query_get_tables = """
SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_SCHEMA = 'bronze'
"""
df_tables = pd.read_sql(query_get_tables, engine)
table_names = df_tables['TABLE_NAME'].tolist()

# Define common primary key names
possible_primary_keys = ['cst_id', 'id', 'cid', 'prd_id', 'sls_id', 'order_id']

# Step 2: Iterate through each table
for table_name in table_names:
    print(f"\nðŸ”¹ Processing Table: {table_name}\n")

    # Step 3: Get all column names and data types for the current table
    query_get_columns = f"""
    SELECT COLUMN_NAME, DATA_TYPE 
    FROM INFORMATION_SCHEMA.COLUMNS
    WHERE TABLE_SCHEMA = 'bronze' AND TABLE_NAME = '{table_name}'
    """
    df_columns = pd.read_sql(query_get_columns, engine)
    column_names = df_columns['COLUMN_NAME'].tolist()
    column_data_types = dict(zip(df_columns['COLUMN_NAME'], df_columns['DATA_TYPE']))

    # Identify a primary key if available
    primary_key = next((col for col in column_names if col in possible_primary_keys), None)

    # Step 4: Generate dynamic SELECT statement with cleansing rules
    select_clauses = []
    
    for col in column_names:
        col_lower = col.lower()
        data_type = column_data_types[col]
        
        if col_lower == 'cst_firstname' or col_lower == 'cst_lastname':
            # Trim name fields
            select_clauses.append(f"TRIM({col}) AS {col}")
        elif col_lower == 'cst_material_status':
            # Standardize material_status
            select_clauses.append(f"""
                CASE 
                    WHEN UPPER(TRIM({col})) = 'M' THEN 'Married'
                    WHEN UPPER(TRIM({col})) = 'S' THEN 'Single'
                    ELSE 'n/a'
                END AS {col}
            """)
        elif col_lower == 'cst_gender':
            # Standardize gender
            select_clauses.append(f"""
                CASE 
                    WHEN UPPER(TRIM({col})) = 'M' THEN 'Male'
                    WHEN UPPER(TRIM({col})) = 'F' THEN 'Female'
                    ELSE 'n/a'
                END AS {col}
            """)
        elif col_lower == 'cst_create_date':
            # Preserve the raw create_date
            select_clauses.append(f"{col}")
            # And add a computed column for cst_is_future
            select_clauses.append(f"""
                CASE 
                    WHEN {col} IS NULL THEN 0
                    WHEN {col} > GETDATE() THEN 1
                    ELSE 0
                END AS cst_is_future
            """)
        elif data_type in ['varchar', 'nvarchar']:
            # For other text columns, trim the value
            select_clauses.append(f"TRIM({col}) AS {col}")
        else:
            # Otherwise, select the column as-is
            select_clauses.append(f"{col}")
    
    # Build the SELECT clause string
    select_query = ",\n    ".join(select_clauses)

    # Step 5: Construct the final query
    # If the table has a primary key and a raw create_date column, use the ROW_NUMBER() filtering.
    if primary_key and ('cst_create_date' in column_names):
        query_clean = f"""
        SELECT
            {select_query}
        FROM (
            SELECT
                *,
                ROW_NUMBER() OVER(PARTITION BY {primary_key} ORDER BY cst_create_date DESC) AS flag_last
            FROM bronze.{table_name}
        ) latest_record
        WHERE flag_last = 1;
        """
    else:
        # Otherwise, do a simple select
        query_clean = f"""
        SELECT {select_query} FROM bronze.{table_name};
        """
    
    # Display the generated query for verification
    print(f"Generated Query:\n{query_clean}\n")
    
    # Step 6: Execute the query and load results into a DataFrame
    df_cleaned = pd.read_sql(query_clean, engine)
    
    # Display the cleaned data for this table
    print(df_cleaned)

print("\nâœ… Cleaning process completed for all tables in 'bronze' schema!")

ðŸ”¹ Processing Table: crm_cst_info

Generated Query:

        SELECT
            cst_id,
    TRIM(cst_key) AS cst_key,
    TRIM(cst_firstname) AS cst_firstname,
    TRIM(cst_lastname) AS cst_lastname,

                CASE
                    WHEN UPPER(TRIM(cst_material_status)) = 'M' THEN 'Married'
                    WHEN UPPER(TRIM(cst_material_status)) = 'S' THEN 'Single'
                    ELSE 'n/a'
                END AS cst_material_status
            ,

                CASE
                    WHEN UPPER(TRIM(cst_gender)) = 'M' THEN 'Male'
                    WHEN UPPER(TRIM(cst_gender)) = 'F' THEN 'Female'
                    ELSE 'n/a'
                END AS cst_gender
            ,
    cst_create_date,

                CASE
                    WHEN cst_create_date IS NULL THEN 0
                    WHEN cst_create_date > GETDATE() THEN 1
                    ELSE 0
                END AS cst_is_future

        FROM (
            SELECT
                *,
                ROW_NUMBER() OVER(PARTITION BY cst_id ORDER BY cst_create_date DESC) AS flag_last
            FROM bronze.crm_cst_info
        ) latest_record
        WHERE flag_last = 1;


        cst_id     cst_key cst_firstname cst_lastname cst_material_status  \
0          NaN        PO25          None         None                 n/a
1      11000.0  AW00011000           Jon         Yang             Married
2      11001.0  AW00011001        Eugene        Huang              Single
3      11002.0  AW00011002         Ruben       Torres             Married
4      11003.0  AW00011003       Christy          Zhu              Single
...        ...         ...           ...          ...                 ...
18480  29479.0  AW00029479         Tommy         Tang             Married
18481  29480.0  AW00029480          Nina         Raji              Single
18482  29481.0  AW00029481          Ivan         Suri              Single
18483  29482.0  AW00029482       Clayton        Zhang             Married
18484  29483.0  AW00029483          Marc      Navarro             Married

      cst_gender cst_create_date  cst_is_future
0            n/a            None              0
1           Male      2025-10-06              1
2           Male      2025-10-06              1
3           Male      2025-10-06              1
4         Female      2025-10-06              1
...          ...             ...            ...
18480        n/a      2026-01-25              1
18481        n/a      2026-01-25              1
18482        n/a      2026-01-25              1
18483        n/a      2026-01-25              1
18484        n/a      2026-01-27              1

[18485 rows x 8 columns]

ðŸ”¹ Processing Table: crm_prd_info

Generated Query:

        SELECT prd_id,
    TRIM(prd_key) AS prd_key,
    TRIM(prd_nm) AS prd_nm,
    prd_cost,
    TRIM(prd_line) AS prd_line,
    prd_start_dt,
    prd_end_dt FROM bronze.crm_prd_info;


     prd_id           prd_key                     prd_nm  prd_cost prd_line  \
0       210  CO-RF-FR-R92B-58  HL Road Frame - Black- 58       NaN        R
1       211  CO-RF-FR-R92R-58    HL Road Frame - Red- 58       NaN        R
2       212   AC-HE-HL-U509-R      Sport-100 Helmet- Red      12.0        S
3       213   AC-HE-HL-U509-R      Sport-100 Helmet- Red      14.0        S
4       214   AC-HE-HL-U509-R      Sport-100 Helmet- Red      13.0        S
..      ...               ...                        ...       ...      ...
392     602     CO-BB-BB-8107          ML Bottom Bracket      45.0     None
393     603     CO-BB-BB-9108          HL Bottom Bracket      54.0     None
394     604  BI-RB-BK-R19B-44         Road-750 Black- 44     344.0        R
395     605  BI-RB-BK-R19B-48         Road-750 Black- 48     344.0        R
396     606  BI-RB-BK-R19B-52         Road-750 Black- 52     344.0        R

    prd_start_dt prd_end_dt
0     2003-07-01        NaT
1     2003-07-01        NaT
2     2011-07-01 2007-12-28
3     2012-07-01 2008-12-27
4     2013-07-01        NaT
..           ...        ...
392   2013-07-01        NaT
393   2013-07-01        NaT
394   2013-07-01        NaT
395   2013-07-01        NaT
396   2013-07-01        NaT

[397 rows x 7 columns]

ðŸ”¹ Processing Table: crm_sales_details

Generated Query:

        SELECT TRIM(sls_ord_num) AS sls_ord_num,
    TRIM(sls_prd_key) AS sls_prd_key,
    sls_cust_id,
    sls_order_dt,
    sls_ship_dt,
    sls_due_dt,
    sls_sales,
    sls_quantity,
    sls_price FROM bronze.crm_sales_details;


      sls_ord_num sls_prd_key  sls_cust_id  sls_order_dt  sls_ship_dt  \
0         SO43697  BK-R93R-62        21768      20101229     20110105
1         SO43698  BK-M82S-44        28389      20101229     20110105
2         SO43699  BK-M82S-44        25863      20101229     20110105
3         SO43700  BK-R50B-62        14501      20101229     20110105
4         SO43701  BK-M82S-44        11003      20101229     20110105
...           ...         ...          ...           ...          ...
60393     SO75122     FE-6654        15868      20140128     20140204
60394     SO75122     CA-1098        15868      20140128     20140204
60395     SO75123     FE-6654        18759      20140128     20140204
60396     SO75123     ST-1401        18759      20140128     20140204
60397     SO75123     CA-1098        18759      20140128     20140204

       sls_due_dt  sls_sales  sls_quantity  sls_price
0        20110110     3578.0             1     3578.0
1        20110110     3400.0             1     3400.0
2        20110110     3400.0             1     3400.0
3        20110110      699.0             1      699.0
4        20110110     3400.0             1     3400.0
...           ...        ...           ...        ...
60393    20140209       22.0             1       22.0
60394    20140209        9.0             1        9.0
60395    20140209       22.0             1       22.0
60396    20140209      159.0             1      159.0
60397    20140209        9.0             1        9.0

[60398 rows x 9 columns]

ðŸ”¹ Processing Table: erp_cst_az12

Generated Query:

        SELECT TRIM(cid) AS cid,
    bdate,
    TRIM(gen) AS gen FROM bronze.erp_cst_az12;


                 cid       bdate     gen
0      NASAW00011000  1971-10-06    Male
1      NASAW00011001  1976-05-10    Male
2      NASAW00011002  1971-02-09    Male
3      NASAW00011003  1973-08-14  Female
4      NASAW00011004  1979-08-05  Female
...              ...         ...     ...
18478     AW00029478  1964-11-21    None
18479     AW00029479  1969-06-30    None
18480     AW00029480  1977-05-06    None
18481     AW00029481  1965-07-04    None
18482     AW00029482  1964-09-01    None

[18483 rows x 3 columns]

ðŸ”¹ Processing Table: erp_loc_a101

Generated Query:

        SELECT TRIM(cid) AS cid,
    TRIM(cntry) AS cntry FROM bronze.erp_loc_a101;


               cid           cntry
0      AW-00011000       Australia
1      AW-00011001       Australia
2      AW-00011002       Australia
3      AW-00011003       Australia
4      AW-00011004       Australia
...            ...             ...
18479  AW-00029479          France
18480  AW-00029480  United Kingdom
18481  AW-00029481         Germany
18482  AW-00029482          France
18483  AW-00029483          France

[18484 rows x 2 columns]

ðŸ”¹ Processing Table: erp_px_cat_g1v2

Generated Query:

        SELECT TRIM(id) AS id,
    TRIM(cat) AS cat,
    TRIM(subcat) AS subcat,
    TRIM(maintenance) AS maintenance FROM bronze.erp_px_cat_g1v2;


       id          cat             subcat maintenance
0   AC_BR  Accessories         Bike Racks         Yes
1   AC_BS  Accessories        Bike Stands          No
2   AC_BC  Accessories  Bottles and Cages          No
3   AC_CL  Accessories           Cleaners         Yes
4   AC_FE  Accessories            Fenders          No
5   AC_HE  Accessories            Helmets         Yes
6   AC_HP  Accessories    Hydration Packs          No
7   AC_LI  Accessories             Lights         Yes
8   AC_LO  Accessories              Locks         Yes
9   AC_PA  Accessories           Panniers          No
10  AC_PU  Accessories              Pumps         Yes
11  AC_TT  Accessories    Tires and Tubes         Yes
12  BI_MB        Bikes     Mountain Bikes         Yes
13  BI_RB        Bikes         Road Bikes         Yes
14  BI_TB        Bikes      Touring Bikes         Yes
15  CL_BS     Clothing         Bib-Shorts          No
16  CL_CA     Clothing               Caps          No
17  CL_GL     Clothing             Gloves          No
18  CL_JE     Clothing            Jerseys          No
19  CL_SH     Clothing             Shorts          No
20  CL_SO     Clothing              Socks          No
21  CL_TI     Clothing             Tights          No
22  CL_VE     Clothing              Vests          No
23  CO_BB   Components    Bottom Brackets         Yes
24  CO_BR   Components             Brakes         Yes
25  CO_CH   Components             Chains         Yes
26  CO_CS   Components          Cranksets         Yes
27  CO_DE   Components        Derailleurs         Yes
28  CO_FO   Components              Forks         Yes
29  CO_HB   Components         Handlebars          No
30  CO_HS   Components           Headsets          No
31  CO_MF   Components    Mountain Frames         Yes
32  CO_PD   Components             Pedals          No
33  CO_RF   Components        Road Frames         Yes
34  CO_SA   Components            Saddles          No
35  CO_TF   Components     Touring Frames         Yes
36  CO_WH   Components             Wheels         Yes

âœ… Cleaning process completed for all tables in 'bronze' schema!

In [5]:
print(df_cleaned)

       id          cat             subcat maintenance
0   AC_BR  Accessories         Bike Racks         Yes
1   AC_BS  Accessories        Bike Stands          No
2   AC_BC  Accessories  Bottles and Cages          No
3   AC_CL  Accessories           Cleaners         Yes
4   AC_FE  Accessories            Fenders          No
5   AC_HE  Accessories            Helmets         Yes
6   AC_HP  Accessories    Hydration Packs          No
7   AC_LI  Accessories             Lights         Yes
8   AC_LO  Accessories              Locks         Yes
9   AC_PA  Accessories           Panniers          No
10  AC_PU  Accessories              Pumps         Yes
11  AC_TT  Accessories    Tires and Tubes         Yes
12  BI_MB        Bikes     Mountain Bikes         Yes
13  BI_RB        Bikes         Road Bikes         Yes
14  BI_TB        Bikes      Touring Bikes         Yes
15  CL_BS     Clothing         Bib-Shorts          No
16  CL_CA     Clothing               Caps          No
17  CL_GL     Clothing             Gloves          No
18  CL_JE     Clothing            Jerseys          No
19  CL_SH     Clothing             Shorts          No
20  CL_SO     Clothing              Socks          No
21  CL_TI     Clothing             Tights          No
22  CL_VE     Clothing              Vests          No
23  CO_BB   Components    Bottom Brackets         Yes
24  CO_BR   Components             Brakes         Yes
25  CO_CH   Components             Chains         Yes
26  CO_CS   Components          Cranksets         Yes
27  CO_DE   Components        Derailleurs         Yes
28  CO_FO   Components              Forks         Yes
29  CO_HB   Components         Handlebars          No
30  CO_HS   Components           Headsets          No
31  CO_MF   Components    Mountain Frames         Yes
32  CO_PD   Components             Pedals          No
33  CO_RF   Components        Road Frames         Yes
34  CO_SA   Components            Saddles          No
35  CO_TF   Components     Touring Frames         Yes
36  CO_WH   Components             Wheels         Yes